.pepe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloproductos {
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.nav-link{
  white-space: nowrap !important;
  font-size: .75rem !important;
}

.divProducto{
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;    
}