body{
    overflow-x: hidden;
}

.styleTexto{
    font-size: .75rem;
}
.primero img{
   height: 93vh;
   width: fit-content !important;
}
.segundo img{
    height: 93vh;
    width: fit-content !important;
}
.tercero img{
    height: 93vh;
    width: fit-content !important;
}

.nav-link{
    white-space: nowrap;
    font-size: .75rem;
}