.styleTexto{
    font-size: .75rem;
}
.primero img{
   height: 91vh;
   width: fit-content !important;
}
.segundo img{
    height: 91vh;
    width: fit-content !important;
}
.tercero img{
    height: 91vh;
    width: fit-content !important;
}